<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/invenzo_v1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/invenzo_v1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Invenzo_10"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityInicio"/>
        <activity android:name=".ProductosActivity"/>
        <activity android:name=".ReportesActivity"/>
        <activity android:name=".MasOpcionesActivity"/>
        <activity android:name=".ControlInventarioActivity"/>
        <activity android:name=".CategoriaActivity"/>
        <activity android:name=".NuevaCategoriaActivity"/>

        <activity android:name=".RegistroActivity"  android:exported="false"/>

        <!-- Para que el scroll se acomode con el teclado       -->
        <activity
            android:name=".AgregarProductoActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".EditarCategoriaActivity"/>
        <activity android:name=".ConfiguracionActivity"/>
        <activity android:name=".EditarUsuarioActivity"/>
        <activity android:name=".NuevoUsuarioActivity"/>
        <activity android:name=".UsuariosActivity"/>
        <activity android:name=".RestablecerPasswordActivity"/>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
</manifest>